<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    body {
       front-family: Arial, sans-serif;
       margin: 0;
       padding: 0;
       background-color: #b3d9ff;
       color: #333;
   }
    .container {
       width: 80%;
       margin: auto;
       overflow: hidden;
    }
    .main-content {
       background: #fff;
       padding: 2rem;
       margin: 2rem 0;
       border-radius: 8px;
    }
    .social-links a {
       display: inline-block;
       margin: 0.5rem;

    }
</style>

<body>
   <h1>Minha página pessoal</h1>

</body>
<div class="container">
    <div class="main-content">

        <h2>Sobre mim</h2>
   <p>Olá! meu nome é Júlia. Sou estudante do 2°ano EM do SESI e do senai na área de T.I.</p>

        <h2>Meus projetos</h2>
   <ul>
       <li><a href="https://super-duper-lamp.onrender.com">homes-app </a> - Projeto de site em html com JavaScript para listar imóveis</li>
       <li><a href="https://homes-app-angular-1ooc.onrender.com">homes-app-angular</a> - Projeto de site de móveis desenvilvido com o Angular</li>
   </ul>
        <h2>Contatos</h2>
        <p>Você pode me contatar através do e-mail: <a href="mailto:julliastefannypenteadodarocha@gmail.com">julliastefannypenteadodarocha@gmail.com</a></p>

        <div class="social - links">
            <h2>Redes sociais</h2>
            <p>
                <a href="www.linkedin.com/in/júlia-stefanny-penteado-da-rocha-5804622b9" target="_blank">LinkedIn</a>
                <a href="https://github.com/JuliaStefanny" target="_blank">GitHub</a>
                <a href="https://dashboard.render.com/" target="_blank">Render</a>
            </p>

        </div>

    </div>

</div>
</html>